#timer {
    position: absolute;
    left: 78px;
    top: 70px;
    width: 328px;
    height: 116px;
    font-size: 50px;
    text-align: center;
    color: #000;
}

#prompt {
    position: absolute;
    left: 453px;
    top: 70px;
    width: 1385px;
    height: 116px;
    color: white;
    background-image: url('img/prompt_box.png');
}
#prompt-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    white-space: nowrap;
    text-align: center;
}

#toolbox {
    position: absolute;
    left: 78px;
    top: 233px;
    width: 328px;
    height: 737px;
    background-color: #fd5a46;
    border-radius: 20px;
}

#toolbox button {
    border: none;
    border-radius: 20px;
    width: 260px;
    height: 104px;
}

#toolbox button.selected {
    border: 4px solid black;
}

#toolbox button#pencil {
    position: absolute;
    left: 32px;
    top: 49px;
    background-image: url('img/pencil.png');
}
#toolbox button#eraser {
    position: absolute;
    left: 32px;
    top: 180px;
    background-image: url('img/eraser.png');
}

#toolbox #palette {
    position: absolute;
    left: 30px;
    top: 326px;
}

#canvas {
    position: absolute;
    left: 453px;
    top: 233px;
    cursor: none;
    transform-origin: center;
    transition: all 1s;
}

#canvas.flip {
    transform: perspective(2000px) rotateY(180deg);
}

#canvas.drunk {
    animation: drunk 4s ease-in-out infinite;
}

@keyframes drunk {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(-50px, -25px) rotate(5deg);
    }
    50% {
        transform: translate(0px, 0px);
    }
    75% {
        transform: translate(50px, -25px) rotate(-5deg);
    }
    100% {
        transform: translate(0px, 0px);
    }
}