#gallery1 { 
    top: 104px;
    left: 222px;
}

#gallery2 {
    top: 104px;
    left: 1006px;
}

#gallery3 {
    top: 519px;
    left: 222px;
}

#gallery4 {
    top: 519px;
    left: 1006px;
}

#gallery {
    position: absolute;
}

#gallery canvas {
    position: absolute;
}
