canvas#gallery1 {
    position: absolute;
    top: 104px;
    left: 222px;
}

canvas#gallery2 {
    position: absolute;
    top: 104px;
    left: 1006px;
}

canvas#gallery3 {
    position: absolute;
    top: 519px;
    left: 222px;
}

canvas#gallery4 {
    position: absolute;
    top: 519px;
    left: 1006px;
}