section#lobby {
    background-image: url('mockup/lobby.png');
}

input#player1 {
    position: absolute;
    top: 314px;
    left: 78px;
    width: 553px;
    height: 113px;

    background-color: rgba(240,240,240,0);
    color: black;
    text-align: center;
    font-size: 50px;

    border-color: green;
    border-width: 10px;
    border-style: none;
}

input#player2 {
    position: absolute;
    top: 445px;
    left: 78px;
    width: 553px;
    height: 113px;

    background-color: rgba(240,240,240,0);
    color: black;
    text-align: center;
    font-size: 50px;
}

input#player3 {
    position: absolute;
    top: 576px;
    left: 78px;
    width: 553px;
    height: 113px;

    background-color: rgba(240,240,240,0);
    color: black;
    text-align: center;
    font-size: 50px;
}

input#player4 {
    position: absolute;
    top: 707px;
    left: 78px;
    width: 553px;
    height: 113px;

    background-color: rgba(240,240,240,0);
    color: black;
    text-align: center;
    font-size: 50px;
}

button#ready {
    position: absolute;
    top: 838px;
    left: 78px;
    width: 553px;
    height: 113px;

    background-color: rgba(240,240,240,0);
    color: black;
    text-align: center;
    font-size: 50px;
}