@font-face {
    font-family: Fedoka One;
    src: url('fonts/FredokaOne-Regular.ttf');
}

* {
    font-family: Fedoka One, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFC567;
    user-select: none;
}

div#wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1920px;
    height: 1080px;

    overflow: hidden;
}

section {
    display: none;
    width: 100%;
    height: 100%;
}

div.info_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;

    background-color: #FFC567;

    border: 3px solid black;
    border-radius: 25px;

    text-align: center;
    padding: 40px;
    font-size: 30px;
}

.genericUi {
    color: black;
    text-align: center;
    border: none;
    border-radius: 25px;
}

#debug-overlay {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.2);
}

#popup {
    position: absolute;
    bottom: -216px;
    left: 949px;
    width: 328px;
    height: 216px;

    background: url(img/popup_wrapper.png);
    background-size: 100%;

    transition: bottom 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);

    padding: 15px;
    box-sizing: border-box;
    font-size: 32px;

    /* word wrap with text overflow hidden */
    text-wrap: wrap;
    overflow: hidden;

    /* center text */
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#popup.visible {
    bottom: 342px;
}

button.infoBoxBtn {
    color: white;
    margin-top: 60px;
    height: 85px;
    width: 392px;

    font-size: 50px;

    background-image: url('img/button.png');
    border-radius: 0;
}
button.infoBoxBtn:hover {
    background-image: url('img/button_hover.png');
}
button.infoBoxBtn:active {
    background-image: url('img/button_pressed.png');
}