section#title {
    background-image: url('img/title.png');
}

#titleUiWrap {
    position: absolute;
    top: 739px;
    left: 190px;
    width: 1600px;

    display: flex;
    justify-content: space-around;
}

.titleButtons {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 392px;
    height: 90px;

    background-color: #FD5A46;
    font-size: 65px;
}

.titleButtons:hover {
    color: white;
    transform: scale(0.95);
}

.titleInputs {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 900px;
    height: 90px;

    font-size: 65px;
    background-color: white;

    color: black;
    text-align: center;
    border: none;
    border-radius: 25px;
}
