section#title {
    background-image: url('img/title.png');
}

button#join {
    position: absolute;
    top: 739px;
    left: 176px;
    width: 392px;
    height: 85px;

    background-color: #FD5A46;
    text-align: center;
    font-size: 50px;

    border: none;
    border-radius: 25px;
}

button#create {
    position: absolute;
    top: 842px;
    left: 176px;
    width: 392px;
    height: 85px;

    background-color: #FD5A46;
    text-align: center;
    font-size: 50px;
}

input#nicknameInput {
    position: absolute;
    top: 739px;
    left: 752px;
    width: 993px;
    height: 181px;

    font-size: 140px;
    background-color: white;
    text-align: center;
}

button.infoBoxBtn {
    margin-top: 60px;
    height: 90px;
    width: 300px;

    background-color: rgba(240,240,240,0.1);

    font-size: 30px;
}
