.ratingStarWrap {
    text-align: center;
}

.ratingStar {
    background-image: url(../img/gray_star.png);
    display: inline-block;
    height: 300px;
    width: 300px;
    vertical-align: middle;
}

.ratinStarActive {
    background-image: url(../img/star.png);
    display: none;
    height: 300px;
    width: 300px;
    vertical-align: middle;
}